.main {
	text-align: center;
	padding: 5px 20px;
	margin-bottom: 20px;
	height: 265px;
}

.dinner-selection {
	font-style: italic;
	text-decoration: underline;
}

.MuiButtonBase-root.MuiButton-root.btn-randomize {
	background-color: #2196f3;
	color: white;
}

.MuiButtonBase-root.MuiButton-root.btn-randomize:hover {
	background-color: #1976d2;
}

.MuiBackdrop-root {
	z-index: 2 !important;
	color: #fff;
}

.MuiGrid-container {
	padding: 0 25px;
}

.selected-list {
	padding: 0 25px;
	margin-bottom: 25px;
}

.selected-list p {
	display: inline;
}
